<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Novo evento na agenda</h1>
            <%= render 'form', appointment: @appointment %>
        </div>
    </div>
</div>
