<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sch2day</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item">
        <%= link_to  "Novo compromisso", new_appointment_path(room_id: @current_room&.id), class: "btn btn-outline-primary ml-lg-3 my-2 my-lg-0" %>
      </li>
    </ul>
    <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0" %>
  </div>
</nav>